Agastya Physics Software/Linear Kinemeters/ESP32S2TFTLinearKinemeterNodeRedV2July17.txt
[
    {
        "id": "56e76b6fce8e65f6",
        "type": "tab",
        "label": "Linear Kinematics",
        "disabled": false,
        "info": "# ",
        "env": []
    },
    {
        "id": "78a505c1cace2b57",
        "type": "mqtt in",
        "z": "56e76b6fce8e65f6",
        "name": "",
        "topic": "postime",
        "qos": "2",
        "datatype": "auto",
        "broker": "8bb1e943.340af8",
        "inputs": 0,
        "x": 250,
        "y": 300,
        "wires": [
            [
                "a515fb2fc5aa06d9"
            ]
        ]
    },
    {
        "id": "9ffdd535990974d7",
        "type": "ui_text",
        "z": "56e76b6fce8e65f6",
        "group": "e8496de3.6b361",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "At Sensor 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1130,
        "y": 220,
        "wires": []
    },
    {
        "id": "a515fb2fc5aa06d9",
        "type": "function",
        "z": "56e76b6fce8e65f6",
        "name": "Parse IR Sensor data",
        "func": "//var count = context.get('count')||0;\n//msg.payload = msg.payload+count;\nmsg.payload = msg.payload.split(\";\")\n//count +=1;\n//context.set('count', count)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 320,
        "wires": [
            [
                "ad84ab7bfec26ca2",
                "961b6a3f908b5560",
                "275b9cd4b9b82cd7",
                "3a93ac4d5d9be3cc"
            ]
        ]
    },
    {
        "id": "ad84ab7bfec26ca2",
        "type": "function",
        "z": "56e76b6fce8e65f6",
        "name": "Extract, Split and Format: Time & Pos Sensor 1",
        "func": "var x = msg.payload[0].split(\",\");\nmsg.payload = x[0] + \"s,      \" + x[1]+\"  cm\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 240,
        "wires": [
            [
                "9ffdd535990974d7"
            ]
        ]
    },
    {
        "id": "b709e4e9aed4191a",
        "type": "ui_text",
        "z": "56e76b6fce8e65f6",
        "group": "e8496de3.6b361",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "At Sensor 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 280,
        "wires": []
    },
    {
        "id": "961b6a3f908b5560",
        "type": "function",
        "z": "56e76b6fce8e65f6",
        "name": "Extract, Split and Format: Time & Pos Sensor 2",
        "func": "var x = msg.payload[1].split(\",\");\nmsg.payload = x[0] + \"s,   \" + x[1]+\"cm\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 280,
        "wires": [
            [
                "b709e4e9aed4191a"
            ]
        ]
    },
    {
        "id": "7222a18b7aafa9c2",
        "type": "ui_text",
        "z": "56e76b6fce8e65f6",
        "group": "e8496de3.6b361",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "At Sensor 3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 320,
        "wires": []
    },
    {
        "id": "275b9cd4b9b82cd7",
        "type": "function",
        "z": "56e76b6fce8e65f6",
        "name": "Extract, Split and Format: Time & Pos Sensor  3",
        "func": "var x = msg.payload[2].split(\",\");\nmsg.payload = x[0] + \"s,   \" + x[1]+\"cm\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 320,
        "wires": [
            [
                "7222a18b7aafa9c2"
            ]
        ]
    },
    {
        "id": "b8d0dcded11773db",
        "type": "ui_text",
        "z": "56e76b6fce8e65f6",
        "group": "e8496de3.6b361",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "At  Sensor 4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 360,
        "wires": []
    },
    {
        "id": "3a93ac4d5d9be3cc",
        "type": "function",
        "z": "56e76b6fce8e65f6",
        "name": "Extract, Split and Format: Time & Pos Sensor  4",
        "func": "var x = msg.payload[3].split(\",\");\nmsg.payload = x[0] +   \"s, \" + x[1]+\"cm\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 360,
        "wires": [
            [
                "b8d0dcded11773db"
            ]
        ]
    },
    {
        "id": "6441615955368d60",
        "type": "mqtt in",
        "z": "56e76b6fce8e65f6",
        "name": "",
        "topic": "veltime",
        "qos": "2",
        "datatype": "auto",
        "broker": "8bb1e943.340af8",
        "inputs": 0,
        "x": 250,
        "y": 520,
        "wires": [
            [
                "7fbd9ada7d722a3a"
            ]
        ]
    },
    {
        "id": "edf54fb67ee4a306",
        "type": "ui_text",
        "z": "56e76b6fce8e65f6",
        "group": "dca8645e.c7c208",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "V1: Between Sensors 1&2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1190,
        "y": 480,
        "wires": []
    },
    {
        "id": "7fbd9ada7d722a3a",
        "type": "function",
        "z": "56e76b6fce8e65f6",
        "name": "Convert Stg Payload to Array",
        "func": "msg.payload = msg.payload.split(\";\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 520,
        "wires": [
            [
                "96a10ae173eb6d7d",
                "846c0280abc781ab",
                "89ac5df63e931c07"
            ]
        ]
    },
    {
        "id": "96a10ae173eb6d7d",
        "type": "function",
        "z": "56e76b6fce8e65f6",
        "name": "Extract, Split and Format: Time and Inst Vel 1",
        "func": "var x = msg.payload[0].split(\",\");\nmsg.payload = x[0] + \"s, \" + x[1]+\"cm/s\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 480,
        "wires": [
            [
                "edf54fb67ee4a306"
            ]
        ]
    },
    {
        "id": "c96bf1e554b03642",
        "type": "ui_text",
        "z": "56e76b6fce8e65f6",
        "group": "dca8645e.c7c208",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "V2: Between Sensors  2&3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1190,
        "y": 520,
        "wires": []
    },
    {
        "id": "846c0280abc781ab",
        "type": "function",
        "z": "56e76b6fce8e65f6",
        "name": "Extract, Split and Format: Time and Inst Vel 2",
        "func": "var x = msg.payload[1].split(\",\");\nmsg.payload = x[0] + \"s, \" + x[1]+\"cm/s\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 520,
        "wires": [
            [
                "c96bf1e554b03642"
            ]
        ]
    },
    {
        "id": "4a90a8ab2d24f8c1",
        "type": "ui_text",
        "z": "56e76b6fce8e65f6",
        "group": "dca8645e.c7c208",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "v3: Between (Sensors 2&3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1200,
        "y": 560,
        "wires": []
    },
    {
        "id": "89ac5df63e931c07",
        "type": "function",
        "z": "56e76b6fce8e65f6",
        "name": "Extract, Split and Format: Time and Inst Vel  3",
        "func": "var x = msg.payload[2].split(\",\");\nmsg.payload = x[0] + \"s, \" + x[1]+\"cm/s\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 560,
        "wires": [
            [
                "4a90a8ab2d24f8c1"
            ]
        ]
    },
    {
        "id": "2b01717680fd80b4",
        "type": "mqtt in",
        "z": "56e76b6fce8e65f6",
        "name": "",
        "topic": "accs",
        "qos": "2",
        "datatype": "auto",
        "broker": "8bb1e943.340af8",
        "inputs": 0,
        "x": 250,
        "y": 700,
        "wires": [
            [
                "9185edf5eeb55788"
            ]
        ]
    },
    {
        "id": "aa5476e752f9a763",
        "type": "ui_text",
        "z": "56e76b6fce8e65f6",
        "group": "ac960a4e.be5278",
        "order": 1,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Between Vel1 & Vel2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 660,
        "wires": []
    },
    {
        "id": "9185edf5eeb55788",
        "type": "function",
        "z": "56e76b6fce8e65f6",
        "name": "Convert Stg Payload to Array",
        "func": "msg.payload = msg.payload.split(\";\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 700,
        "wires": [
            [
                "5f1ea695a4f10e41",
                "8b1ed7aad827c272",
                "cc2c7cdc60189323"
            ]
        ]
    },
    {
        "id": "5f1ea695a4f10e41",
        "type": "function",
        "z": "56e76b6fce8e65f6",
        "name": "Extract and Format Acc1",
        "func": "msg.payload = msg.payload[0] + \"cm/s/s\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 660,
        "wires": [
            [
                "aa5476e752f9a763"
            ]
        ]
    },
    {
        "id": "a056c0d5a0f9b5bf",
        "type": "ui_text",
        "z": "56e76b6fce8e65f6",
        "group": "ac960a4e.be5278",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Between Vel2 & Vel3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 700,
        "wires": []
    },
    {
        "id": "8b1ed7aad827c272",
        "type": "function",
        "z": "56e76b6fce8e65f6",
        "name": "Extract and Format Acc 2",
        "func": "msg.payload = msg.payload[1]+\"cm/s/s\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 700,
        "wires": [
            [
                "a056c0d5a0f9b5bf"
            ]
        ]
    },
    {
        "id": "cc2c7cdc60189323",
        "type": "function",
        "z": "56e76b6fce8e65f6",
        "name": "Extract Avg Acc",
        "func": "msg.payload = msg.payload[2]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 740,
        "wires": [
            [
                "2053640e61286fe5"
            ]
        ]
    },
    {
        "id": "2053640e61286fe5",
        "type": "ui_gauge",
        "z": "56e76b6fce8e65f6",
        "name": "Gauge Name",
        "group": "481aa1e39fe9fccf",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Average Acceleration",
        "label": "cm/s/s",
        "format": "{{value}}",
        "min": "-30",
        "max": "300",
        "colors": [
            "#b30000",
            "#e6e600",
            "#00db54"
        ],
        "seg1": "0",
        "seg2": "300",
        "className": "",
        "x": 1170,
        "y": 740,
        "wires": []
    },
    {
        "id": "4de32df6fd17aa73",
        "type": "ui_text",
        "z": "56e76b6fce8e65f6",
        "group": "995e2b452064878e",
        "order": 0,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "Experiment #:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 160,
        "wires": []
    },
    {
        "id": "0d13aa820f82aebb",
        "type": "function",
        "z": "56e76b6fce8e65f6",
        "name": "Extract Experiment No",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 160,
        "wires": [
            [
                "4de32df6fd17aa73"
            ]
        ]
    },
    {
        "id": "47f60e595a18e77c",
        "type": "mqtt in",
        "z": "56e76b6fce8e65f6",
        "name": "",
        "topic": "expnumber",
        "qos": "2",
        "datatype": "auto",
        "broker": "8bb1e943.340af8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "0d13aa820f82aebb"
            ]
        ]
    },
    {
        "id": "8bb1e943.340af8",
        "type": "mqtt-broker",
        "name": "Host",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e8496de3.6b361",
        "type": "ui_group",
        "name": "Sensor Crossing Times (Ti, Pi)",
        "tab": "e5898c665c2a86f6",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dca8645e.c7c208",
        "type": "ui_group",
        "name": "Time & Inst Velocity [(Ti+1-Ti)/2, (Pi+1-Pi)/(Ti+1-Ti)]",
        "tab": "e5898c665c2a86f6",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac960a4e.be5278",
        "type": "ui_group",
        "name": "AVG Accelerations",
        "tab": "e5898c665c2a86f6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "481aa1e39fe9fccf",
        "type": "ui_group",
        "name": "OVERALL AVG Accels",
        "tab": "e5898c665c2a86f6",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "995e2b452064878e",
        "type": "ui_group",
        "name": "Current Expt Number ",
        "tab": "e5898c665c2a86f6",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e5898c665c2a86f6",
        "type": "ui_tab",
        "name": "Linear Kinematics",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]